@charset "utf-8";
/* CSS Document */

#comments_template input[type=text] { border: 1px solid #eee;  }
#comments_template  textarea { border: 1px solid #eee;  }

#single-portfolio-stage img { display:block; opacity:1; visibility:visible; zoom:1; }


.homepage-slider .stagableSlider ul.mainslider li.fullstage>a , .homepage-slider .stagableSlider ul.mainslider li.fullstage>div.videoholder , .homepage-slider  .stagableSlider ul.mainslider li.leftstage>a , .homepage-slider .stagableSlider ul.mainslider li.leftstage>div.videoholder , .homepage-slider  .stagableSlider ul.mainslider li.rightstage>a , .homepage-slider .stagableSlider ul.mainslider li.rightstage>div.videoholder , .homepage-slider div.qSlider , .homepage-slider  .quartz { background:none!important; }

#menu>li>ul.sub-menu ul { z-index:9999; zoom:1; }
#menu>li>ul.sub-menu { zoom:1; overflow:visible!important; }
#menu li {  overflow:visible!important; zoom:1; }